.login{
    width: 60%;
    margin-top: 70px;
    padding: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    background-image: url(../../assets/uylar.jpg);
 }

 .register{
    background-image: url(../../assets/1234.jpg);
    background-size: contain;
 }