.complex_from{
    display: flex;
    gap: 10px;
}

.complex_wrapper{
    background: #6C757D;
    border-radius: 10px;
    padding: 40px;
    height: 83vh;
}

.complex_wrapper_div{
padding: 0 0 20px 0 ;
}

/* .scroll{
    overflow-x: auto;
    overflow-y: auto;
} */


.scrolll{
    height: 64vh;
    overflow-y:auto;
   }

.asos{
    display: flex;
}

.asos_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
background-color: #fdb3b3;
width: 25%;
padding: 20px;
height: 90vh;
}

.asos_wrap{
    padding: 20px;
    width: 75%;
    height: 92vh;
    background-color: #979797;
}